<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duopei.other.transaction.dao.ItemPriceMapper" >
  <resultMap id="BaseResultMap" type="com.duopei.other.transaction.model.ItemPrice" >
    <id column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <id column="unit_code" property="unitCode" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="sale_cost" property="saleCost" jdbcType="DOUBLE" />
    <result column="sale_vat" property="saleVat" jdbcType="DOUBLE" />
    <result column="sale_rate" property="saleRate" jdbcType="DOUBLE" />
    <result column="buy_price" property="buyPrice" jdbcType="DOUBLE" />
    <result column="buy_cost" property="buyCost" jdbcType="DOUBLE" />
    <result column="buy_vat" property="buyVat" jdbcType="DOUBLE" />
    <result column="buy_rate" property="buyRate" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_code, unit_code, sale_price, sale_cost, sale_vat, sale_rate, buy_price, buy_cost, 
    buy_vat, buy_rate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.duopei.other.transaction.model.ItemPriceKey" >
    select 
    <include refid="Base_Column_List" />
    from titemprice
    where item_code = #{itemCode,jdbcType=VARCHAR}
      and unit_code = #{unitCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.duopei.other.transaction.model.ItemPriceKey" >
    delete from titemprice
    where item_code = #{itemCode,jdbcType=VARCHAR}
      and unit_code = #{unitCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.duopei.other.transaction.model.ItemPrice" >
    insert into titemprice (item_code, unit_code, sale_price, 
      sale_cost, sale_vat, sale_rate, 
      buy_price, buy_cost, buy_vat, 
      buy_rate)
    values (#{itemCode,jdbcType=VARCHAR}, #{unitCode,jdbcType=VARCHAR}, #{salePrice,jdbcType=DOUBLE}, 
      #{saleCost,jdbcType=DOUBLE}, #{saleVat,jdbcType=DOUBLE}, #{saleRate,jdbcType=DOUBLE}, 
      #{buyPrice,jdbcType=DOUBLE}, #{buyCost,jdbcType=DOUBLE}, #{buyVat,jdbcType=DOUBLE}, 
      #{buyRate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.duopei.other.transaction.model.ItemPrice" >
    insert into titemprice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="unitCode != null" >
        unit_code,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="saleCost != null" >
        sale_cost,
      </if>
      <if test="saleVat != null" >
        sale_vat,
      </if>
      <if test="saleRate != null" >
        sale_rate,
      </if>
      <if test="buyPrice != null" >
        buy_price,
      </if>
      <if test="buyCost != null" >
        buy_cost,
      </if>
      <if test="buyVat != null" >
        buy_vat,
      </if>
      <if test="buyRate != null" >
        buy_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null" >
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="saleCost != null" >
        #{saleCost,jdbcType=DOUBLE},
      </if>
      <if test="saleVat != null" >
        #{saleVat,jdbcType=DOUBLE},
      </if>
      <if test="saleRate != null" >
        #{saleRate,jdbcType=DOUBLE},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=DOUBLE},
      </if>
      <if test="buyCost != null" >
        #{buyCost,jdbcType=DOUBLE},
      </if>
      <if test="buyVat != null" >
        #{buyVat,jdbcType=DOUBLE},
      </if>
      <if test="buyRate != null" >
        #{buyRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duopei.other.transaction.model.ItemPrice" >
    update titemprice
    <set >
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="saleCost != null" >
        sale_cost = #{saleCost,jdbcType=DOUBLE},
      </if>
      <if test="saleVat != null" >
        sale_vat = #{saleVat,jdbcType=DOUBLE},
      </if>
      <if test="saleRate != null" >
        sale_rate = #{saleRate,jdbcType=DOUBLE},
      </if>
      <if test="buyPrice != null" >
        buy_price = #{buyPrice,jdbcType=DOUBLE},
      </if>
      <if test="buyCost != null" >
        buy_cost = #{buyCost,jdbcType=DOUBLE},
      </if>
      <if test="buyVat != null" >
        buy_vat = #{buyVat,jdbcType=DOUBLE},
      </if>
      <if test="buyRate != null" >
        buy_rate = #{buyRate,jdbcType=DOUBLE},
      </if>
    </set>
    where item_code = #{itemCode,jdbcType=VARCHAR}
      and unit_code = #{unitCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duopei.other.transaction.model.ItemPrice" >
    update titemprice
    set sale_price = #{salePrice,jdbcType=DOUBLE},
      sale_cost = #{saleCost,jdbcType=DOUBLE},
      sale_vat = #{saleVat,jdbcType=DOUBLE},
      sale_rate = #{saleRate,jdbcType=DOUBLE},
      buy_price = #{buyPrice,jdbcType=DOUBLE},
      buy_cost = #{buyCost,jdbcType=DOUBLE},
      buy_vat = #{buyVat,jdbcType=DOUBLE},
      buy_rate = #{buyRate,jdbcType=DOUBLE}
    where item_code = #{itemCode,jdbcType=VARCHAR}
      and unit_code = #{unitCode,jdbcType=VARCHAR}
  </update>
</mapper>