<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duopei.system.user.dao.UserMapper">
	<select id="getUserById" parameterType="com.duopei.system.user.model.User"
		resultMap="userMap">
		SELECT
		U.USER_NO AS userNo,
		U.USER_CODE AS userCode,
		U.USER_NAME AS
		userName,
		U.USER_PWD
		AS userPwd,
		U.USER_TEL AS userTel,
		U.USER_EMAIL AS
		userEmail,
		U.USER_STATUS AS userStatus,
		U.COMMONS AS commons,
		U.INSERT_ID AS
		insertId,
		U.INSERT_DATE AS
		insertDate,
		U.MODIFY_ID AS
		modifyId,
		U.MODIFY_DATE AS modifyDate
		FROM TUSERS U
		WHERE 1=1
		<if test="null != userNo and '' != userNo">
			AND USER_NO = #{userNo}
		</if>
	</select>

	<resultMap type="com.duopei.system.user.model.User" id="userMap">
		<id property="userNo" column="userNo" />
		<result property="userCode" column="userCode" />
		<result property="userName" column="userName" />
		<result property="userPwd" column="userPwd" />
		<result property="userTel" column="userTel" />
		<result property="userEmail" column="userEmail" />
		<result property="userStatus" column="userStatus" />
		<result property="commons" column="commons" />
		<result property="insertId" column="insertId" />
		<result property="insertDate" column="insertDate" />
		<result property="modifyId" column="modifyId" />
		<result property="modifyDate" column="modifyDate" />
	</resultMap>

	<select id="getUserLst" parameterType="com.duopei.system.user.model.User"
		resultMap="userMap">
		SELECT
		U.USER_NO AS userNo,
		U.USER_CODE AS userCode,
		U.USER_NAME AS
		userName,
		U.USER_PWD AS userPwd,
		U.USER_TEL AS userTel,
		U.USER_EMAIL AS
		userEmail,
		U.USER_STATUS AS userStatus,
		U.COMMONS AS commons,
		U.INSERT_ID AS insertId,
		U.INSERT_DATE AS
		insertDate,
		U.MODIFY_ID AS
		modifyId,
		U.MODIFY_DATE AS modifyDate
		FROM TUSERS U
		WHERE 1=1
		<if test="null != userNo and '' != userNo">
			AND USER_NO = #{userNo}
		</if>
	</select>

	<insert id="insertUser" parameterType="com.duopei.system.user.model.User">
		INSERT INTO TUSERS (
		USER_NO,
		USER_CODE,
		USER_NAME,
		USER_PWD,
		USER_TEL,
		USER_EMAIL,
		USER_STATUS,
		COMMONS,
		INSERT_ID,
		INSERT_DATE
		)
		VALUES (
		#{userNo},
		#{userCode},
		#{userName},
		#{userPwd},
		#{userTel},
		#{userEmail},
		#{userStatus},
		#{commons},
		'000000',
		NOW()
		)
	</insert>

	<delete id="deleteUser" parameterType="com.duopei.system.user.model.User">
		DELETE FROM TUSERS
		WHERE
		USER_NO = #{userNo}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="com.duopei.system.user.model.User">
		update tusers
		<set>
			<if test="userCode != null">
				USER_CODE = #{userCode,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				USER_PWD = #{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userTel != null">
				USER_TEL = #{userTel,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				USER_STATUS = #{userStatus,jdbcType=INTEGER},
			</if>
			<if test="commons != null">
				COMMONS = #{commons,jdbcType=VARCHAR},
			</if>
			<if test="insertId != null">
				INSERT_ID = #{insertId,jdbcType=VARCHAR},
			</if>
			<if test="insertDate != null">
				INSERT_DATE = #{insertDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyId != null">
				MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
			</if>
			<if test="modifyDate != null">
				MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where USER_NO = #{userNo,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.duopei.system.user.model.User">
		update tusers
		set
			USER_CODE = #{userCode,jdbcType=VARCHAR},
			USER_NAME = #{userName,jdbcType=VARCHAR},
			USER_PWD = #{userPwd,jdbcType=VARCHAR},
			USER_TEL = #{userTel,jdbcType=VARCHAR},
			USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
			USER_STATUS = #{userStatus,jdbcType=INTEGER},
			COMMONS = #{commons,jdbcType=VARCHAR},
			MODIFY_ID = '000000' , <!-- #{modifyId,jdbcType=VARCHAR}, -->
			MODIFY_DATE = NOW()
		where USER_NO = #{userNo,jdbcType=INTEGER}
	</update>
</mapper>